*{
    box-sizing: border-box;
    font-family: 'Roboto', 'Segoe UI', 'Arial';
}

.btn-blue{
    background-color: #5078D5;
    color: white;
}

.card-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-content{
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 64px;
}

.card-content *{
    display: block;
    margin: auto;
    text-align: center;
}

.card-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-grid .card{
    align-items: center;
    box-shadow: 0px 0px 0px transparent;
    display: flex;
    flex: 1;
    flex-basis: 333px;
    flex-grow: 0;
    justify-content: center;
    max-height: 400px;
    min-height: 400px;
    transform: scale(1);

    transition: transform .2s, box-shadow .4s;
}

.card-grid .card:hover{
    box-shadow: 0px 0px 8px blue;
    transform: scale(1.0061);
    z-index: 999;
}

.card-grid .card *{
    text-align: center;
}

.card-grid .card-footer{
    background-color: transparent;
    width: 100%;
}


h2{
    font-size: 48px;
}

h1, h2, h3{
    color: #3A308C;
}

h2, h3{
    text-align: center;
}

.iconfied-text .iconfied-text-icon{
    margin-right: 8px;
}

.nav-item .iconfied-text{
    margin-right: 32px;
}

.section{
    padding-top: 32px;
    min-height: 100vh;
}

.slick-arrow, .slick-arrow:focus{
    background-color: rgba(85, 128, 198, 0.5);
    height: 160px;
    width: 70px;
    z-index: 999;

    transition: background-color .2s;
}

.slick.prev:before{
    transform: translateX(30px);
}

.slick-arrow:hover{
    background-color: rgba(85, 128, 198, 0.9);
}

.slider-item{
    text-align: center;
}

.slider-item a{
    font-size: 18px;
}

.slider-item img{
    display: block;
    margin: auto;
    margin-bottom: 32px;
    max-width: 250px;
    width: 100%;
}

.sub{
    text-align: center;
}

.sub.sub-h2{ font-size: 28px;}

.text-dark{
    color: #3A308C !important;
}

@media screen and (max-width: 840px){
    .card-grid .card{
        flex-grow: 1;
    }
}