#banner{
    align-items: center;
    background-image: url("../images/banner-blue.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

body{
    background-color: rgb(230, 230, 230);
}

.expandable-slider{
    margin-top: 64px;
}

#map{
    min-height: 450px;
    width: 100%;
}

.modal-banner{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.modal-banner img{
    height: 100%;
}

.modal-disposer{
    display: block;
    margin-left: auto;
    margin-right: 32px;
    font-size: 24px;
    text-align: right;
    font-family: 'Segoe UI Light';
}

.modal-servico{
    animation: fx-pop-in .4s;
}

.modal-servico .container > *{
    margin-top: 16px;
}

.modal-servico div{
    background-color: #333159;
}

.modal-servico .modal-content.flex-container{
    flex-direction: row;
}

.modal-content h1, .modal-content h2, .modal-content h3{
    text-align: center;
}

.modal-content img{
    display: block;
    margin: auto;
}

.modal-fullscreen .slick-arrow{
    background-color: transparent;
}

.navbar-dark .navbar-nav .nav-item *{
    color: rgba(255, 255, 255, 0.8);

    transition: color .1s;
}

.navbar-dark .navbar-nav .nav-item *:hover{
    color: #A6CBEB;
}

#sectionClientes{
    background-color: white;
    padding: 64px 24px;
}



#sectionServicos{
    background-color: #F6F6F6;
    background-image: url("../images/ep-bg-gray.svg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 64px;
}

#sectionSobre{
    background-color: #333159;
    background-image: url("../images/ep-logo-dark.svg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 32px 0px 64px 0px;
}

#sectionFornecedores{
    margin: 64px 0px;
}

.servico-desc{
    flex: 1;
}

.slider{
    margin-top: 64px;
}

#topMenu{
    background-color: #300299;
    width: 100vw;
    z-index: 1000;
}

@media screen and (max-width: 800px){
    
    .modal-banner{
        display: none;
    }

    .modal-servico .container{
        padding: 0px;
    }
    

}

@media screen and (max-width: 600px){
    #banner{
        padding: 0px 32px;
    }

    #sectionServicos{
        padding: 0px;
    }

}